section {
    .banner {
        background-color: #eeeeee;
        // background-image: url('https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/e43b5ad9-19c6-4baf-bd54-74b0589858ad_rwc_0x0x3508x4551x4096.jpg?h=c1066c63f9dcefd67dac2197f0bcf9c4');
        background-image: url('https://firebasestorage.googleapis.com/v0/b/securisk-iwms.appspot.com/o/rfq%2FWhatsApp%20Image%202022-12-01%20at%207.17.42%20PM.jpeg?alt=media&token=b1a708bb-83cd-4d25-b4b3-096a403a6453');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        height: 100vh;
        max-height: 600px;
        margin-bottom: 20px;
        padding-left: 0%;
        padding-right: 0%;
    }
    .products {
        width: 100%;
        padding: 60px 0;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Flanding-bg.jpg?alt=media&token=457b157c-397a-4d70-8e96-e588141ae318');
        background-size: cover;
        background-position: center;
        margin-top: 125px;
        h2 {
            font-size: 38px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            line-height: 1.2;
            strong {
                color: var(--primary-color);
                font-weight: 600;
            }
        }
        p {
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 1.2;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            width: 92%;
            margin: 30px auto;
            li {
                width: 16.666%;
                padding: 15px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;
                .product {
                    background: #fff;
                    flex-direction: column;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    padding: 0 10px;
                    &:hover {
                        background: var(--primary-color);
                        img {
                            filter: brightness(1);
                        }
                        h5 {
                            color: #fff;
                        }
                    }
                    img {
                        filter: brightness(0.3);
                        width: 44px;
                        height: 68px;
                        padding: 20px 0 0;
                    }
                    h5 {
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--primary-color);
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                    }
                }

            }
        }
    }
}

::ng-deep {
    ngx-slick-carousel {
        width: 100%;
        max-height: 600px;
    }
    .slick-track {
        // width: 100% !important;
        height: inherit;
    }
    .slick-slide img {
        height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 996px) {
    section {
        .products {
            ul {
                li {
                    width: 25%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    section {
        .products {
            ul {
                li {
                    width: 33.3333%;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    section {
        .products {
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }
}