<div class="landing_page">
    <section>
        <div class="header">
            <app-header></app-header>
        </div>
        <div style="padding: 0 25px 0;">
            <div class="banner"></div>
            <div class="products">
                <ul>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/d0af9b40-3340-4a8a-8445-3739f6464457_rwc_169x67x642x502x640.gif?h=f0645fe9568e3af117730c9c80ed3117" alt="">
                        <h5>Arrímate - Single Cover</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/16777b32-f7df-49fe-a492-3c7c3ab804e7_rwc_822x345x273x213x640.jpg?h=a7905828d371fb855b6ac7867adfd8ae" alt="">
                        <h5>Pepsi Music Dubai Mural</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/72cae657-7c0a-4a13-b24a-85ea06dd2d56_rwc_270x0x1381x1080x640.jpg?h=f5e2910f3203ea973cc5751d119f9b1c" alt="">
                        <h5>South Pointe Sunset</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/d2a15f82-bfc1-4eaf-a1ea-3b64958c778a_rwc_0x209x1920x1501x640.jpg?h=55c153b656df080cd8f0bbae0f66d930" alt="">
                        <h5>South Beach Target Store Mural</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/50be1523-9d4a-4b04-ad8d-48df6463859f_rwc_70x400x1296x1013x640.jpg?h=c79bb7d257ed2f836e139aa91c7c6109" alt="">
                        <h5>Bike Girl</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/0678f8ec-ad17-4fed-a968-1f5387df9fbd_carw_202x158x640.jpg?h=4e5814f48acf0995ce5d7aba70fc285a" alt="">
                        <h5>Evolve - A tribute to Charles Darwin</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/e8569bc6-c4b8-454a-9619-504930e222f8_carw_202x158x640.png?h=4ccc372cab9241fb33a179c6a685e64d" alt="">
                        <h5>U.S. Miami Beach Conference of Mayors Graphic Identity</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/f649fd63-78d2-4172-bafa-cd1bf770f38e_rwc_1270x1526x978x766x640.jpg?h=f55343fd9e76fbf47eecf5e649923790" alt="">
                        <h5>Small plane, Big adventures</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/feb66735-7f5d-4c50-9ac5-bfe1ebc60bbc_rwc_0x122x1920x1501x640.jpg?h=60409bc375ff07086a4e301643179c49" alt="">
                        <h5>Miller Lite Miami Illustration</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/565d5d5a-54e1-444d-8135-2142f4270669_carw_202x158x640.jpg?h=4cdcc7309949eca95173e4998f61cb7d" alt="">
                        <h5>Biking with Dad</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/1148fc6f-7deb-426e-8a41-8c4a43f09edc_carw_202x158x640.jpg?h=6ab03a26be5cc510244c577bc6babb77" alt="">
                        <h5>The great bike share bike-off</h5>
                    </li>
                    <li>
                        <img src="https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/2818da17-8014-457f-9997-a22ce3352158_carw_202x158x640.jpg?h=c1330385257274038f8e1d2e28498278" alt="">
                        <h5>Bourdain</h5>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
