.landing_page {
    width: 100%;
    position: relative;
    section {
        .banner {
            margin-top: -90px;
            background-color: #eeeeee;
            background-image: url('https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/e43b5ad9-19c6-4baf-bd54-74b0589858ad_rwc_0x0x3508x4551x4096.jpg?h=c1066c63f9dcefd67dac2197f0bcf9c4');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            height: 100vh;
            max-height: 600px;
            margin-bottom: 0px;
            padding-left: 0%;
            padding-right: 0%;
        }
        .header {
            padding: 0 10px;
            background: rgba(0, 0, 0, .7);
            position: sticky;
            top: 0;
            z-index: 10;
        }
        .products {
            width: 100%;
            ul {
                li {
                    &:hover {
                        img {
                            filter: grayscale(100%);
                        }
                        h5 {
                            background: rgba(0, 0, 0, .5);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                li {
                    width: 33.33%;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    h5 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 28px;
                        text-align: center;
                        text-transform: uppercase;
                        width: 100%;
                        display: none;
                    }
                }
            }
        }
    }
}