<section>
    <div style="padding: 0 25px 0;">
        <div class="banner">
            <h5>Leadership Team</h5>
        </div>
        <div class="leadership_team">
            <ul>
                <ng-container>
                    <li *ngFor="let item of leadershipTeam" class="member" (click)="showMemberDetails(item)">
                        <div class="mem_img">
                            <img [src]="item.image" alt="">
                            <div class="img_top">
                                <div class="arrow">
                                    <i class='fa fa-long-arrow-alt-right'></i>
                                </div>
                            </div>
                        </div>
                        <div class="mem_details">
                            <p class="name">{{item.name}}</p>
                            <p class="designation">{{item.designation}}</p>
                            <div class="media_links">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-youtube"></i></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</section>