.maintanance_container {
    .img img {
        // height: 250px;
        // display: block;
        // margin: 50px auto;
        width: 100%;
    }
    h5 {
        text-align: center;
        font-size: 36px;
        margin: 100px 0;
        font-weight: 500;
    }
}