<footer>
    <div class="top_container">
        <div class="logo">
            <app-logo></app-logo>
        </div>
        <div class="comp_details">
            <h4>Lianz Surfaces Sdn. Bhd.</h4>
            <p>Lianz Surfaces Sdn. Bhd. was Established since 2007. We are focusingon Project and Retail of Flooring and Wall coverings.</p>
            <p>We are CIDB Grade 7 company.</p>
            <a href="">About Us</a>
        </div>
        <div class="address">
            <h4>Cheras Branch (HQ)</h4>
            <p>No. 6, Jalan 9, Taman Len Seng, 56000 Kuala Lumpur.</p>
            <p>
                TEL: 
                <a href="tel:+603-91056066">+603-91056066</a>
            </p>
            <ul class="add_links">
                <li><i class="fab fa-whatsapp"></i></li>
                <li><i class="fas fa-map-marked-alt"></i></li>
                <li><i class="fab fa-waze"></i></li>
            </ul>
        </div>
        <div class="products">
            <h4>Our Products</h4>
            <ul class="prod_list">
                <li><a href="">Engineered Timber Flooring</a></li>
                <li><a href="">Stone Plastic Composite Flooring</a></li>
                <li><a href="">WPC Timber Decking</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom_container">
        <div style="display: flex;justify-content: space-between;">
            <p class="copyright">© 2020 Lianz Surfaces Sdn. Bhd. All rights reserved.</p>
            <div class="media">
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>