footer {
    width: 100%;
    background: #fff;
    // background: #ede8e4;
    padding: 20px 70px;
    border-top: 2px solid #c7c3bf;
    .logo {
        cursor: pointer;
        margin-bottom: 20px;
    }
    .top_container {
        width: 100%;
        display: flex;
        padding-bottom: 50px;
        .comp_details {
            width: 25%;
            padding-right: 20px;
        }
        .address, .products {
            width: 25%;
            padding-right: 20px;
        }
        .chat_container {
            width: 25%;
            form {
                width: 100%;
                div {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
                    input {
                        height: 40px;
                        width: calc(50% - 5px);
                        flex: 1;
                        border: none;
                        outline: none;
                        background: transparent;
                        border-bottom: 1px solid #31302f;
                        color: #31302f;
                        &::placeholder {
                            color: #31302f;
                        }
                        &:hover, &:focus {
                            border-bottom: none;
                        }
                    }
                    textarea {
                        width: 100%;
                        margin-top: 20px;
                        border: 2px solid #31302f;
                        padding: 10px 10px 10px 15px;
                        color: #31302f;
                        outline: none;
                        &::placeholder {
                            color: #31302f;
                        }
                    }
                }
                button {
                    margin-left: auto;
                    display: block;
                    margin-top: 20px;
                    width: 100px;
                    height: 36px;
                    border: none;
                    outline: none;
                    background: #31302f;
                    border-radius: inherit;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .bottom_container {
        padding-top: 20px;
        border-top: 1px solid #c7c3bf;
    }
    .top_container {
        h4 {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 1.2;
        }
        p {
            line-height: 1.2;
            letter-spacing: 0px;
            margin-bottom: 25px;
            font-size: 15px;
        }
        a {
            color: #323232;
            text-decoration: underline;
            letter-spacing: .3px;
            cursor: pointer;
        }
        .add_links {
            display: flex;
            gap: 20px;
            list-style: none;
            font-size: 20px;
            li {
                cursor: pointer;
                a {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .prod_list {
            list-style: none;
            li {
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    &.active, &:hover {
                        text-decoration: underline;
                        cursor: default;
                    }
                }
                // &::before {
                //     content: "-";
                //     padding-right: 5px;
                // }
            }
        }
    }
    .bottom_container {
        .btm_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        p {
            font-size: 13px;
            letter-spacing: 0;
            line-height: 1.4;
        }
        .media {
            ul {
                list-style: none;
                display: flex;
                gap: 40px;
                li {
                    font-size: 22px;
                    cursor: pointer;
                    i {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
}

@media (max-width: 996px) {
    footer {
        .top_container {
            flex-wrap: wrap;
            .logo, .comp_details, .address {
                width: 50%;
                margin: 0 0 20px;
            }
            .products, .chat_container {
                width: 50%;
            }
        }
    }
}

@media (max-width: 576px) {
    footer {
        padding: 60px 40px 20px;
        .top_container {
            flex-wrap: wrap;
            .comp_details, .address, .products {
                width: 100%;
                margin: 0 0 20px;
            }
            .chat_container {
                width: 100%;
            }
        }
        .bottom_container {
            .btm_flex {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
            p {
                text-align: center;
            }
        }
    }
}