header {
    width: 100%;
    padding: 15px 30px;
    .header_container {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        cursor: pointer;
        img {
            height: 60px;
            width: 160px;
        }
    }
    .nav_container {
        // flex: 1;
        background: #fff;
        display: flex;
        align-items: center;
        .navs {
            display: flex;
            justify-content: flex-end;
            gap: 35px;
            list-style: none;
            padding: 20px 30px;
            flex: 1;
            li {
                &.active, &:hover {
                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                    }
                }
                position: relative;
                font-size: 14px;
                font-weight: normal;
                color: #000 !important;
                cursor: pointer;
                animation: translate .6s cubic-bezier(0.215, 0.610, 0.355, 1);
                animation-delay: calc(.05s * var(--i));
            }
        }
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 25px;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

.mobile_none {
    display: flex;
}
.desktop_none {
    display: none;
}

@keyframes translate {
    0% {
        transform: perspective(500px) translate3d(0, 15.67382827px, 0);
        opacity: .8;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}


@media (max-width: 900px) {
    .mobile_none {
        display: none !important;
    }
    .desktop_none {
        display: block !important;
    }
    header {
        .nav_container {
            flex: 1 !important;
            justify-content: flex-end;
        }
        .mobile_menu_container {
            .nav_container {
                flex: 1;
                .navs {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        padding: 15px;
        .header_container {
            gap: 0;
        }
    }
}