<header>
    <div class="logo">
        <app-logo></app-logo>
        <!-- <img src="/assets/securisk_logo.png" alt=""> -->
    </div>
    <div class="nav_container" [style.flex]="isMenuOpened ? '1' : 'none'">
        <ul class="navs" *ngIf="isMenuOpened">
            <li style="--i:1" class="active">Home</li>
            <li style="--i:2">Work</li>
            <li style="--i:3">Services</li>
            <li style="--i:4">About</li>
            <li style="--i:5">Contact</li>
        </ul>
        <div class="menu">
            <i [ngClass]="isMenuOpened ? 'fa fa-times' : 'fa fa-bars'" (click)="isMenuOpened = !isMenuOpened"></i>
        </div>
    </div>
</header>
