<header>
    <div class="header_container">
        <div class="logo">
            <app-logo></app-logo>
            <!-- <img src="/assets/securisk_logo.png" alt=""> -->
        </div>
        <div class="nav_container" [style.flex]="isMenuOpened ? '1' : 'none'">
            <ul class="navs mobile_none" *ngIf="isMenuOpened">
                <li style="--i:1" class="active">Home</li>
                <li style="--i:2">Products</li>
                <li style="--i:3">Services</li>
                <li style="--i:3">Sectors</li>
                <li style="--i:5">Contact</li>
                <li style="--i:4">About Us</li>
            </ul>
            <div class="menu">
                <i [ngClass]="isMenuOpened ? 'fa fa-times' : 'fa fa-bars'" (click)="isMenuOpened = !isMenuOpened"></i>
            </div>
        </div>
    </div>
    <div class="mobile_menu_container desktop_none">
        <div class="nav_container" [style.flex]="isMenuOpened ? '1' : 'none'">
            <ul class="navs" *ngIf="isMenuOpened">
                <li style="--i:1" class="active">Home</li>
                <li style="--i:2">Products</li>
                <li style="--i:3">Services</li>
                <li style="--i:3">Sectors</li>
                <li style="--i:5">Contact</li>
                <li style="--i:4">About Us</li>
            </ul>
        </div>
    </div>
</header>
