<div class="close_container" mat-dialog-close>
    <i class="fa fa-times"></i>
</div>
<div class="product_container">
    <div class="download">
        <a href="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2FGroup%20Personal%20Accident%20Insurance%20Policy.pdf?alt=media&token=c168a420-84b6-4d2d-9fee-b40726b76dbf" target="_blank" download="product.pdf"><i class='fas fa-download'></i></a>
    </div>
    <div class="product_details">
        <h2>GROUP PERSONAL ACCIDENT INSURANCE</h2>
        <ul>
            <p>The policy compensates individual against:</p>
            <li>Accidental Death</li>
            <li>Permanent Total Disablement</li>
            <li>Permanent Partial Disablement</li>
            <li>Temporary Total Disablement</li>
            <li>Weekly Benefit maximum upto Rs. 5000 upto 100 weeks</li>
            <li>Worldwide coverage</li>
            <li>24 x 7 coverage or can be limited to working hours</li>
        </ul>
        <br>
        <ul class="add_benifits">
            <p><strong>Additional Benefits</strong></p>
            <li>Medical Expenses :Reimbursement of Medical expenses arising directly and solely out of  accident. Reimbursable amount shall be 20% of capital sum insured or 40% of admissible claim amount or actual expenses whichever is lower (payable only when the claim is admissible under basic cover).</li>
            <li>Expenses for carriage of dead body :-Expenses incurred for carriage of dead body of the insured to the place of residence at 2% of capital sum insured subject to a maximum of Rs. 2500.</li>
            <li>Children Education fund -10% of capital sum insured per dependent child subject to a maximum of Rs. 5000 up to maximum two dependent children</li>
            <li>Cremation / Funeral Charges :-The policy reimburses up to 2% of Capital Sum Insured or Rs. 2500/- whichever is less.</li>
            <li>Modification of residential accommodation and own vehicle :- Permanent Total Disability arising from an accident could sometimes demand a change in lifestyle. In order to meet these requirements Insured might have to invest or modify existing vehicle or invest in making some changes in the house. Reimbursement of  10% of the Principal Sum up to a maximum of Rs.50,000 towards this (payable only when the claim is admissible under basic cover).</li>
            <li>Ambulance Hiring Charges :-The policy will be reimbursed upto Rs.1,000 for ambulance hiring charges in theevent of an accident.</li>
            <li>Family Transportation:  When as a result of an accident, the principal insured is confined in a hospital outside 100 kms of his residence, we will reimburse the actual transportation expenses incurred by the immediate family member, to reach the insured person up to a maximum of Rs. 25,000</li>
        </ul>
        <br>
        <h2 style="text-align: left;">DOCUMENTS FOR CLAIM UNDER GPA POLICY</h2>
        <ul class="documents">
            <li>
                <span>Accidental Death:</span>
                <ul>
                    <li>Claim form duly filled up by the Claimant & signed and stamped by the Insured</li>
                    <li>True copy of FIR (First Information Report), panchnama, any other inquest report</li>
                    <li>True copy of Post Mortem Report</li>
                    <li>Original Death Certificate</li>
                    <li>Letter from the HR as an employee certificate stating details of employee with Date of Joining</li>
                    <li>True copy of Viscera Report if applicable</li>
                    <li>Copy of driving license( verified with original ) if the person was driving</li>
                </ul>
            </li>
            <li>
                <span>Permanent Total Disability:</span>
                <ul>
                    <li>Claim form duly filled up by the insured/Claimant & signed and stamped by the Insured</li>
                    <li>Hospitalization Bills/Papers (indoor case papers)</li>
                    <li>Disability Certificate from a Civil Surgeon/Senior Surgeon from a reputed hospital</li>
                    <li>Letter from the HR as an employee certificate stating details of employee with Date of Joining</li>
                    <li>Police intimation (whether Panchanama or FIR) to know that the case has been reported to the Police</li>
                    <li>Copy of driving license copy ( verified with original ) if the person was driving was driving at the time of accident.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>