.landing_page {
    width: 100%;
    position: relative;
    section {
        .header {
            padding: 0 10px;
            background: #fff;
            position: sticky;
            top: 0;
            z-index: 10;
            box-shadow: 2px 2px 12px rgb(0 0 0 / 25%);
        }
    }
}

::ng-deep {
    .cookies_container {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        p {
            line-height: 1.5;
            letter-spacing: .2px;
            font-size: 15px;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            button {
                border: none;
                padding: 10px 30px;
                background: var(--primary-color);
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .landing_page {
        section {
            .products {
                ul {
                    li {
                        width: 50%;
                    }
                }
            }
        }
    }
}