<section>
    <div style="padding: 0 25px 0;">
        <div class="banner">
            <h5>Services</h5>
        </div>
        <div class="about_us">
            <div class="txt">
                Securisk adheres to best practices criteria and client service standards in relation to both project and operational clients. This is achieved through its account management system and action planning / service plan process.
            </div>
            <h5>Securisk offers the following Services</h5>
            <ol>
                <li>Risk Management</li>
                <li>Risk Review & Identiﬁcation</li>
                <li>Risk Proﬁling, Analysis & Recommendation</li>
                <li>Insurance Program Design & Insurance Placement</li>
                <li>Insurance Co-ordination & Implementation</li>
                <li>Claims Administration</li>
                <li>Deﬁne risk proﬁles</li>
                <li>Initiate risk management plans</li>
                <li>Source and evaluate insurance quotes Focus</li>
                <li>on coverage and cost optimization</li>
                <li>Placement of insurance as per clients choice</li>
                <li>Comprehensive Policy administration</li>
                <li>Claims management and documentation</li>
            </ol>
            <br>
            <div class="txt">
                From analyzing and covering exposures, to loss control and managing claims, our
                comprehensive approach oﬀers guidance, protection and peace of mind to our corporate clients in today's copious business models. Our approach to Insurance is holistic. We critically view the need and adequacy of Insurance from a client's perspective. When considering an insurance company, we evaluate the quality and level of service they provide, in addition to a competitive pricing structure
            </div>
        </div>

    </div>
</section>