section {
    .banner {
        background-color: #eeeeee;
        // background-image: url('https://cdn.myportfolio.com/7df26c7f2dab767f7af58dee235d0f68/e43b5ad9-19c6-4baf-bd54-74b0589858ad_rwc_0x0x3508x4551x4096.jpg?h=c1066c63f9dcefd67dac2197f0bcf9c4');
        background-image: url('https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fabout_us_banner.jpg?alt=media&token=66fda6f3-842f-40c0-8f0c-f6d362822c76');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        height: 100vh;
        max-height: 500px;
        margin-bottom: 20px;
        padding-left: 0%;
        padding-right: 0%;
        position: relative;
        h5 {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 42px;
            line-height: 42px;
            padding: 25px 50px;
            color: #fff;
            background: rgba(255, 255, 255, .5);
            width: 100%;
            margin: 0;
        }
    }
    .about_us {
        font-size: 19px;
        line-height: 28px;
        width: 95%;
        margin: auto;
        padding-bottom: 40px;
    }
}