<div class="about_us_container">
    <section>
        <div class="header">
            <app-header></app-header>
        </div>
        <div style="padding: 0 25px 0;">
            <div class="banner">
                <h5>About Us</h5>
            </div>
            <div class="about_us">
                Securisk Insurance Broking Services (P) Ltd. is one of India's leading insurance broking and
                risk management companies.
                <br><br>
                We are a Professional Organization with dedicated team of qualiﬁed Insurance Professionals,   Risk   Engineers, Chartered Accountants and specialized Management Graduates to service various Insurance and Risk Management requirements of clients spread across the country. We are located in cities across India, specialized in evolving Insurance Portfolio Management Solutions for the corporate sector across the spectrum of industries with above 200 satisﬁed Clients.
                <br><br>
                Securisk is one of the country's fast expanding risk management and insurance Services Company, staﬀed by professionals who are risk experts, operating out of major cities in India. We provide risk    management    and insurance broking services to business, professional and public entity organizations. We provide the total range of expertise for identifying the evolving exposures in today's global economy.
                <br><br>
                We oﬀer comprehensive solutions to our clients surpassing traditional insurance services. This includes providing new and non-conventional alternatives designed speciﬁcally to treat complex and ever-changing ﬁnancial, operational and strategic exposures. We provide consistent, high quality service to the clients worldwide.
                <br><br>
                We have established a service team comprising insurance professionals with relevant industry expertise and hands-on experience on direct insurance requirements. Our service team has undergone comprehensive training (and has the mandatory regulatory approval) to provide professional services to clients. Our focus is to fulﬁll the risk and insurance needs of large & mid-sized corporate and public entities.
                <br><br>
                The Business philosophy of Securisk is designed to a customer oriented & partnership approach with a lot of innovation and customization. We stay focused on one goal: Help clients and be part of the success.
            </div>
        </div>
    </section>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>