<section>
    <div style="padding: 0 25px 0;">
        <div class="banner" *ngIf="showBanner" [ngStyle]="{'background-image': 'url(' + selectedSector?.bannerImage?.fileUrl + ')'}"></div>
    </div>
    <div class="sector_container">
        <div class="sector">
            <div class="sector_details">
                <h5>{{selectedSector?.name}}</h5>
                <p>{{selectedSector?.description}}</p>
            </div>
            <div class="key_products">
                <h6>Key Products Include:</h6>
                <ul>
                    <li *ngFor="let item of products"><img [src]="item.icon.fileUrl" alt=""><a (click)="this.selectedProduct = item;showProduct()">{{item.name}}</a></li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key2.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""><a (click)="showProduct()">Business Interruption</a></li>
                    <!-- <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key3.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""><a (click)="showProduct()">Third Party Liability</a></li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key4.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""><a (click)="showProduct()">Management & Professional Liability</a></li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key5.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""><a (click)="showProduct()">Workers’ Compensation</a></li> -->
                </ul>
            </div>
        </div>
        <div class="sectors_list">
            <h5>Sectors</h5>
            <ul>
                <li *ngFor="let item of sectors" [class.active]="item.id == selectedSector?.id"><a [routerLink]="['/sector']" [queryParams]="{id: item.id}">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
</section>