<section>
    <div style="padding: 0 25px 0;">
        <div class="banner" *ngIf="showBanner" [ngStyle]="{'background-image': 'url(' + selectedSector.banner + ')'}"></div>
    </div>
    <div class="sector_container">
        <div class="sector">
            <div class="sector_details">
                <h5>{{selectedSector.name}}</h5>
                <p>We have one of the most accomplished teams with sound technical and industry knowledge to help you navigate the complex world of Aerospace & Aviation. Given the demanding nature of the business, we believe you need someone who truly understands your needs and with whom you can develop a long-term relationship.</p>
                <p>We can provide you with suitable solutions that are tailored to your specific needs and protect you against any risk that you might encounter. Aerospace is a constantly evolving industry, which includes Building and Maintaining Aircrafts, Developing and Improving Existing Equipment supported by research and technical advancement. While this makes Aerospace one of the most prominent industries today, it also poses unique challenges and various magnitudes of risks.</p>
                <p>At Securisk, our team has extensive experience servicing clients in the industry and continue to be hands on in all aspects involved. We not only protect you against the obvious risks involved, but also reduce your financial exposure to geopolitical issues and new potential liabilities.</p>
            </div>
            <div class="key_products">
                <h6>Key Products Include:</h6>
                <ul>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key1.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""> Hull & Mechinary</li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key2.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""> Business Interruption</li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key3.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""> Third Party Liability</li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key4.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""> Management & Professional Liability</li>
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/juteproducts.appspot.com/o/securisk%2Fsectors%2Faerospace-key5.png?alt=media&token=a73edfa0-0d7d-4a26-8651-3d0c4754abee" alt=""> Workers’ Compensation</li>
                </ul>
            </div>
        </div>
        <div class="sectors_list">
            <h5>Sectors</h5>
            <ul>
                <li *ngFor="let item of sectors" [class.active]="item.id == selectedSector.id"><a [routerLink]="['/sector']" [queryParams]="{id: item.id}">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
</section>